<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Components</key>
	<array>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz</string>
			<key>Color</key>
			<array>
				<real>0.498039</real>
				<real>0.819607</real>
				<real>0.3843137</real>
			</array>
			<key>Keywords</key>
			<array>
				<string>abs</string>
				<string>achar</string>
				<string>acos</string>
				<string>adjustl</string>
				<string>adjustr</string>
				<string>aimag</string>
				<string>aint</string>
				<string>all</string>
				<string>allocated</string>
				<string>alog10</string>
				<string>anint</string>
				<string>any</string>
				<string>asin</string>
				<string>associated</string>
				<string>atan</string>
				<string>atan2</string>
				<string>bit_size</string>
				<string>btest</string>
				<string>cabs</string>
				<string>ceiling</string>
				<string>char</string>
				<string>close</string>
				<string>cmplx</string>
				<string>conjg</string>
				<string>cos</string>
				<string>cosh</string>
				<string>count</string>
				<string>cshift</string>
				<string>date_and_time</string>
				<string>dble</string>
				<string>digits</string>
				<string>dim</string>
				<string>dot_product</string>
				<string>dprod</string>
				<string>eoshift</string>
				<string>epsilon</string>
				<string>exp</string>
				<string>exponent</string>
				<string>format</string>
				<string>float</string>
				<string>floor</string>
				<string>fraction</string>
				<string>getarg</string>
				<string>huge</string>
				<string>iachar</string>
				<string>iand</string>
				<string>iargc</string>
				<string>ibclr</string>
				<string>ibits</string>
				<string>ibset</string>
				<string>ichar</string>
				<string>ieor</string>
				<string>index</string>
				<string>int</string>
				<string>ior</string>
				<string>ishft</string>
				<string>ishftc</string>
				<string>kind</string>
				<string>lbound</string>
				<string>len</string>
				<string>len_trim</string>
				<string>lge</string>
				<string>lgt</string>
				<string>lle</string>
				<string>llt</string>
				<string>log</string>
				<string>log10</string>
				<string>logical</string>
				<string>matmul</string>
				<string>max</string>
				<string>maxexponent</string>
				<string>maxloc</string>
				<string>maxval</string>
				<string>merge</string>
				<string>min</string>
				<string>minexponent</string>
				<string>minloc</string>
				<string>minval</string>
				<string>mod</string>
				<string>modulo</string>
				<string>mvbits</string>
				<string>nearest</string>
				<string>nint</string>
				<string>not</string>
				<string>open</string>
				<string>pack</string>
				<string>pi</string>
				<string>present</string>
				<string>print</string>
				<string>product</string>
				<string>radix</string>
				<string>random_number</string>
				<string>random_seed</string>
				<string>range</string>
				<string>read</string>
				<string>real(</string>
				<string>repeat</string>
				<string>reshape</string>
				<string>rewind</string>
				<string>rrspacing</string>
				<string>scale</string>
				<string>scan</string>
				<string>selected_int_kind</string>
				<string>selected_real_kind</string>
				<string>set_exponent</string>
				<string>shape</string>
				<string>sin</string>
				<string>sinh</string>
				<string>size</string>
				<string>spacing</string>
				<string>spread</string>
				<string>sqrt</string>
				<string>sum</string>
				<string>system_clock</string>
				<string>tan</string>
				<string>tanh</string>
				<string>tiny</string>
				<string>transfer</string>
				<string>transpose</string>
				<string>trim</string>
				<string>ubound</string>
				<string>unpack</string>
				<string>verify</string>
				<string>write</string>
			</array>
			<key>Name</key>
			<string>Functions</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Parentesis</string>
			<key>Type</key>
			<string>Keywords</string>
			<key>Charset</key>
			<string>()</string>
			<key>Keywords</key>
			<array>
				<string>(</string>
				<string>)</string>
				<string>((</string>
				<string>))</string>
				<string>(((</string>
				<string>)))</string>
			</array>
			<key>Color</key>
			<array>
				<real>0.5725</real>
				<real>0.478431</real>
				<real>0.82745</real>
			</array>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>End</key>
			<string>&quot;</string>
			<key>EscapeChar</key>
			<string>\</string>
			<key>Name</key>
			<string>Strings</string>
			<key>Start</key>
			<string>&quot;</string>
			<key>Type</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>End</key>
			<string>&apos;</string>
			<key>EscapeChar</key>
			<string>\</string>
			<key>Name</key>
			<string>Strings</string>
			<key>Start</key>
			<string>&apos;</string>
			<key>Type</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890&amp;</string>
			<key>Color</key>
			<array>
				<real>0.074</real>
				<real>0.694117</real>
				<real>0.803921</real>
			</array>
			<key>Keywords</key>
			<array>
				<string>do</string>
				<string>end</string>
				<string>if</string>
				<string>else</string>
				<string>elseif</string>
				<string>exit</string>
				<string>then</string>
				<string>cycle</string>
				<string>while</string>
				<string>select</string>
				<string>case</string>
				<string>where</string>
				<string>elsewhere</string>
				<string>go</string>
				<string>to</string>
				<string>for</string>
				<string>continue</string>
				<string>block</string>
				<string>result</string>
				<string>&amp;</string>
			</array>
			<key>Name</key>
			<string>DataStructures</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Keywords</key>
			<array>
				<string>program</string>
				<string>use</string>
				<string>uses</string>
				<string>call</string>
				<string>module</string>
				<string>subroutine</string>
				<string>interface</string>
				<string>stop</string>
				<string>return</string>
				<string>exit</string>
				<string>function</string>
			</array>
			<key>Color</key>
			<array>
				<real>0.823529</real>
				<integer>0</integer>
				<real>0.615686</real>
			</array>
			<key>Type</key>
			<string>Keywords</string>
			<key>Name</key>
			<string>ProgramStructure</string>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
		</dict>
		<dict>
			<key>Keywords</key>
			<array>
				<string>integer</string>
				<string>double</string>
				<string>precision</string>
				<string>real</string>
				<string>complex</string>
				<string>logical</string>
				<string>character</string>
				<string>type</string>
				<string>dimension</string>
				<string>allocate</string>
				<string>allocatable</string>
				<string>parameter</string>
				<string>pointer</string>
				<string>target</string>
				<string>external</string>
				<string>intent</string>
				<string>intrinsic</string>
				<string>optional</string>
				<string>private</string>
				<string>public</string>
				<string>save</string>
				<string>common</string>
				<string>assign</string>
				<string>assignment</string>
				<string>block</string>
				<string>case</string>
				<string>contains</string>
				<string>deallocate</string>
				<string>default</string>
				<string>entry</string>
				<string>equivalence</string>
				<string>external</string>
				<string>implicit</string>
				<string>namelist</string>
				<string>nullify</string>
				<string>out</string>
				<string>operator</string>
				<string>none</string>
				<string>only</string>
			</array>
			<key>Color</key>
			<array>
				<real>0.596</real>
				<real>0.74902</real>
				<real>0.73333</real>
			</array>
			<key>Type</key>
			<string>Keywords</string>
			<key>Name</key>
			<string>DataTypes</string>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Operadores</string>
			<key>Type</key>
			<string>Keywords</string>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz+-.:=/%&lt;&gt;*</string>
			<key>Keywords</key>
			<array>
				<string>+</string>
				<string>-</string>
				<string>*</string>
				<string>/</string>
				<string>=</string>
				<string>&lt;</string>
				<string>&gt;</string>
				<string>.not.</string>
				<string>.and.</string>
				<string>.or.</string>
				<string>.eqv.</string>
				<string>.neqv.</string>
				<string>.eq.</string>
				<string>.ne.</string>
				<string>.lt.</string>
				<string>.gt.</string>
				<string>.le.</string>
				<string>.ge.</string>
				<string>:</string>
				<string>::</string>
				<string>.true.</string>
				<string>.false.</string>
			</array>
			<key>Color</key>
			<array>
				<real>0.5725</real>
				<real>0.478431</real>
				<real>0.82745</real>
			</array>
		</dict>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
			<key>Name</key>
			<string>UserIdentifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.0470588</real>
				<real>0.7647058799999999</real>
				<real>0.2745098039</real>
			</array>
			<key>Name</key>
			<string>Commentarios</string>
			<key>Start</key>
			<string>C </string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.0470588</real>
				<real>0.7647058799999999</real>
				<real>0.2745098039</real>
			</array>
			<key>Name</key>
			<string>Commentarios</string>
			<key>Start</key>
			<string>!</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
	</array>
	<key>FileNameSuffixes</key>
	<array>
		<string>for</string>
		<string>f</string>
		<string>f90</string>
		<string>f95</string>
		<string>f70</string>
	</array>
</dict>
</plist>
