<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Components</key>
	<array>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz\!&quot;#$%&amp;()&apos;*[]{}&lt;&gt;</string>
			<key>Color</key>
			<array>
				<real>0.498039</real>
				<real>0.819607</real>
				<real>0.3843137</real>
			</array>
			<key>Keywords</key>
			<array>
				<string>\usepackage</string>
				<string>\fontencoding</string>
				<string>\selectfont</string>
				<string>\setlength</string>
				<string>\prod</string>
				<string>\sum</string>
				<string>\int</string>
				<string>\oint</string>
				<string>\iint</string>
				<string>\iiint</string>
				<string>\iiiint</string>
				<string>\idotsint</string>
				<string>\oiint</string>
				<string>\varoint</string>
				<string>\varint</string>
				<string>\begin</string>
				<string>\end</string>
				<string>\documentclass</string>
				<string>\title</string>
				<string>\maketitle</string>
				<string>\author</string>
				<string>\renewcommand</string>
			</array>
			<key>Name</key>
			<string>Functions</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Charset</key>
			<string>\!&quot;#$%&amp;()&apos;*[]{}&lt;&gt;</string>
			<key>Color</key>
			<array>
				<real>0.074</real>
				<real>0.694117</real>
				<real>0.803921</real>
			</array>
			<key>Keywords</key>
			<array>
				<string>\</string>
				<string>\\</string>
				<string>\!</string>
				<string>\&quot;</string>
				<string>\$</string>
				<string>\&amp;</string>
				<string>\&apos;</string>
				<string>\(</string>
				<string>\)</string>
				<string>{</string>
				<string>}</string>
				<string>[</string>
				<string>]</string>
				<string>&lt;</string>
				<string>&gt;</string>
				<string>{\</string>
				<string>}{</string>
				<string>]{</string>
			</array>
			<key>Name</key>
			<string>DataStructures</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Keywords</key>
			<array>
				<string>\alpha</string>
				<string>\beta</string>
				<string>\gamma</string>
				<string>\delta</string>
				<string>\epsilon</string>
				<string>\zeta</string>
				<string>\eta</string>
				<string>\theta</string>
				<string>\iota</string>
				<string>\kappa</string>
				<string>\lambda</string>
				<string>\mu</string>
				<string>\nu</string>
				<string>\xi</string>
				<string>\o</string>
				<string>\pi</string>
				<string>\rho</string>
				<string>\sigma</string>
				<string>\tau</string>
				<string>\upsilon</string>
				<string>\phi</string>
				<string>\chi</string>
				<string>\psi</string>
				<string>\omega</string>
				<string>\varepsilon</string>
				<string>\vartheta</string>
				<string>\varrho</string>
				<string>\varsigma</string>
				<string>\varphi</string>
			</array>
			<key>Color</key>
			<array>
				<real>0.823529</real>
				<integer>0</integer>
				<real>0.615686</real>
			</array>
			<key>Type</key>
			<string>Keywords</string>
			<key>Name</key>
			<string>Greek</string>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Operadores</string>
			<key>Type</key>
			<string>Keywords</string>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz+-.:=/%&lt;&gt;*</string>
			<key>Keywords</key>
			<array>
				<string>+</string>
				<string>-</string>
				<string>*</string>
				<string>/</string>
				<string>=</string>
				<string>&lt;</string>
				<string>&gt;</string>
				<string>\leq</string>
				<string>\subset</string>
				<string>\ll</string>
				<string>\subsetq</string>
				<string>\in</string>
				<string>\neq</string>
				<string>\equiv</string>
				<string>\sim</string>
				<string>\simq</string>
				<string>\approx</string>
				<string>\geq</string>
				<string>\gg</string>
				<string>\supset</string>
				<string>\supsetq</string>
				<string>\ni</string>
				<string>\parallel</string>
				<string>\perp</string>
				<string>\cong</string>
			</array>
			<key>Color</key>
			<array>
				<real>0.5725</real>
				<real>0.478431</real>
				<real>0.82745</real>
			</array>
		</dict>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
			<key>Name</key>
			<string>UserIdentifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>OneLineComment</string>
			<key>Start</key>
			<string>% </string>
			<key>Name</key>
			<string>Commentarios</string>
			<key>Color</key>
			<array>
				<real>0.0470588</real>
				<real>0.7647058799999999</real>
				<real>0.2745098039</real>
			</array>
		</dict>
	</array>
	<key>FileNameSuffixes</key>
	<array>
		<string>tex</string>
	</array>
</dict>
</plist>
